<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/favicon-32x32.png" type="image/x-icon" />
    <!-- 반응형 meta 태그 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/service_style.css}">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <title>ChatEz - 새벽배송보다 빠른 대화형 AI생성 서비스</title>
</head>
<body>
<div class="layout">
    <!-- 첫 번째 컬럼 col-md-6는 중간(MD: medium)에서 6개의 컬럼을 차지한다는 의미 -->
    <div class="layout_left">
        <h2><a href="#"><img th:src="@{img/ChatEZ_logo.svg}" alt="ChatEZ_logo" class="ChatEZ_logo">ChatEZ</a></h2>
        <ul>
            <li><button type="button" class="btn btn-outline-light" onclick="navigateToChatEZMyService()">
                <img th:src="@{img/service_logo_off.png}" alt="service_logo_off" class="category_logo_off">
                <img th:src="@{img/service_logo_on.png}" alt="service_logo_on" class="category_logo_on">
                <span class="category_text">마이서비스</span>
            </button></li>
            <li><button type="button" class="btn btn-outline-light" onclick="navigateToChatEZFileManager()">
                <img th:src="@{img/manager_logo_off.png}" alt="manager_logo_off" class="category_logo_off" >
                <img th:src="@{img/manager_logo_on.png}" alt="manager_logo_on" class="category_logo_on" >
                <span class="category_text">파일 관리</span>
            </button></li>
        </ul>
        <p><a href="#"><img th:src="@{img/logout.png}" alt="logout"><span id="logout_text">로그아웃</span></a></p>
    </div>

    <!-- 두 번째 컬럼 -->
    <div class="layout_right">
        <div id="user"><img th:src="@{img/user_icon.png}" alt="user_icon"><span th:text="${name}"></span></div>
        <div><th:block layout:fragment="content"></th:block></div>
    </div>
</div>
<script src="/js/service_script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.btn.btn-outline-light');
        buttons.forEach(button => button.classList.remove('active'));

        if (window.location.href.includes('my_service')) {
            const myServiceButton = document.querySelector('button[onclick="navigateToChatEZMyService()"]');
            myServiceButton.classList.add('active');
        } else if (window.location.href.includes('file_manager')) {
            const fileManagerButton = document.querySelector('button[onclick="navigateToChatEZFileManager()"]');
            fileManagerButton.classList.add('active');
        }
    });

    function navigateToChatEZMyService() {
        window.location.href = "http://localhost:8080/my_service";
    }

    function navigateToChatEZFileManager() {
        window.location.href = "http://localhost:8080/file_manager";
    }
</script>
</body>
</html>